* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin-top: 50px;
}
button {
  display: block;
  margin: 10px 50px;
}

#search {
  padding: 5px;
  background-color: rgb(249, 247, 247);
  width: 150px;
  color: rgb(33, 194, 202);
  border: solid 2px rgb(33, 194, 202);
  border-radius: 20px;
}

#plus {
  border-radius: 50%;
  background-color: rgb(55, 228, 217);
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: large;
}

#create-account {
  width: 200px;
  height: 35px;
  box-shadow: 5px 5px rgba(0, 0, 0);
  border-radius: 2px;
  color: white;
  font-size: medium;
  background-color: rgb(107, 172, 242);
}
